[submodule "makefile_utils"]
	path = makefile_utils
	url = git@github.com:hljeong/makefile_utils.git
[submodule "lib/py_utils"]
	path = lib/py_utils
	url = git@github.com:hljeong/py_utils.git
[submodule "lib/pack"]
	path = lib/pack
	url = git@github.com:hljeong/pack.git
[submodule "lib/sock"]
	path = lib/sock
	url = git@github.com:hljeong/sock.git
[submodule "lib/cpp_utils"]
	path = lib/cpp_utils
	url = git@github.com:hljeong/cpp_utils.git
